@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

:root {
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.leaflet-container {
  font: inherit;
  border-radius: 1rem;
  z-index: 0;
}
